@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

:root{
  --black:rgba(0, 0, 0, 0.8);
  --purple:#6333ff;
  --purple-hover:#532bd8;
  --white:#eff5f8;
  --gray:#596674;
  --gray-2:#889cb2;
  --gray-3:#c4d5e7;
  --green:#38B349;
  --yellow:#FFDA55;
  --orange:#F9A439;
  --blue:#1081FF;
  --blue-2:#1A4AB9;
  --dark-gray:#1E2432;
  --opacity-7:rgba(255, 255, 255, 0.7);
  --opacity-5:rgba(255, 255, 255, 0.5);
  --opacity-3:rgba(255, 255, 255, 0.3);
  --opacity-15:rgba(255, 255, 255, 0.15);
  --opacity-05:rgba(255, 255, 255, 0.05);
  --black-05:rgba(0, 0, 0, 0.05);
}

html{
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: inherit;
  font-weight: 500;
}

h1,
h2,
h3,
h4,
h5 {
  color: var(--black);
  margin: 0;
}

h1{
  font-size:6.4rem;
}

h2{
  font-size: 4.8rem;
}

h4{
  font-size:2.4rem;
}

p {
  color: var(--black);
  opacity: 0.8;
  font-size: 2rem;
  line-height: 3.6rem;
  margin: 0;
}

@media screen and (max-width: 1340px) {
  h1{
    font-size: 4.2rem;
  }

  h2{
    font-size: 3.6rem;

  }

  h4{
    font-size:1.8rem;
  }

  p {
    font-size: 2rem;
    line-height: 3.2rem;
  }  
}